<div class="sidebar">
  <ul>
    <li><a href="#"><i class="ui-icon ui-icon-triangle-1-s"></i>Category</a>
    <ul>
      <li class="current"><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
    </ul>
    </li>
    <li><a href="#"><i class="ui-icon ui-icon-triangle-1-s"></i>Category</a>
    <ul>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
    </ul>
    </li>
    <li><a href="#"><i class="ui-icon ui-icon-triangle-1-s"></i>Category</a>
    <ul>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
    </ul>
    </li>
    <li><a href="#"><i class="ui-icon ui-icon-triangle-1-s"></i>Category</a>
    <ul>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
    </ul>
    </li>
    <li><a href="#"><i class="ui-icon ui-icon-triangle-1-s"></i>Category</a>
    <ul>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
    </ul>
    </li>
    <li><a href="#"><i class="ui-icon ui-icon-triangle-1-s"></i>Category</a>
    <ul>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
      <li><a href="#">SubCategory</a></li>
    </ul>
    </li>
  </ul>
</div>
